body {
  height: 80vh;
  font-family: monospace;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border-color: white;

  cursor: pointer;
}

.counter {
  color: lightcoral;
}
